:host {
  display: block;
  width: 100%;
}

.segment {
  word-break: break-all;

  &__header {
    position: relative;
    padding-left: 16px;

    &_expandable {
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &_expanded {
      .segment__toggle::after {
        transform: rotate(90deg);
      }
    }
  }

  &__toggle {
    position: absolute;

    &::after {
      content: "►";
      display: inline-block;
      font-size: 13px;
      margin-left: -12px;
      transition: transform 0.1s ease-in;
    }
  }

  &__key {
    color: #4e187c;
  }

  &__separator {
    color: #999999;
  }

  &__type {
    &-string {
      color: #ff6b6b;
    }

    &-object,
    &-array,
    &-null,
    &-unknown {
      color: #999999;
    }

    &-number {
      color: #009688;
    }

    &-boolean {
      color: #b938a4;
    }
  }

  &__children {
    margin-left: 16px;
  }

  &__more {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 0 16px;
    line-height: 24px;
    opacity: 0.9;
  }
}
