# These settings are for any web project

# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
# Force the following filetypes to have Unix EOL
* text=auto eol=lf

#
## These files are binary and should be left untouched
#

# (binary is a macro for -text -diff)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.ttf binary
*.woff binary
