<app-expansion-panel>
    <app-tag [color]="statusColor()">{{ entry().response.status }}</app-tag>
    <app-tag>{{ entry().request.method }}</app-tag>
    <span class="request-url">{{ entry().request.url }}</span>

    <ng-container *appExpansionPanelContent>
        <div class="common-params">
            <app-har-entry-line label="Status" [value]="statusText()"></app-har-entry-line>

            @if (entry()._fromCache === 'disk') {
                <app-har-entry-line label="Cache" value="Disk"></app-har-entry-line>
            }

            <app-har-entry-line label="Server IP" [value]="entry().serverIPAddress"></app-har-entry-line>
            <app-har-entry-line label="Date" [value]="entry().startedDateTime"></app-har-entry-line>
            <app-har-entry-line label="Time" [value]="(entry().time?.toFixed(0) || 0) + ' ms'"></app-har-entry-line>
        </div>

        <app-har-request-data
            label="Request"
            [bodySize]="entry().request.bodySize || entry().request.postData?.size"
            [headers]="entry().request.headers"
            [queryData]="entry().request.queryString"
            [postData]="entry().request.postData?.text"
        ></app-har-request-data>

        <app-har-request-data
            label="Response"
            [bodySize]="entry().response.bodySize || entry().response.content?.size"
            [headers]="entry().response.headers"
            [responseData]="entry().response.content?.text"
        ></app-har-request-data>
    </ng-container>
</app-expansion-panel>
