:host {
  display: block;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 0;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

app-expansion-panel-header,
app-expansion-panel-content {
  word-break: break-all;
}

app-tag {
  margin-right: 8px;
}

.har-content {
  overflow-y: auto;
}
