:host {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 8px;
}

.request-url {
  word-break: break-word;
}

app-tag {
  margin-right: 8px;
}

.common-params {
  margin: 16px 0 0 16px;
}
