:host {
  display: block;
}

pre {
  flex: 1;
  white-space: normal;
  word-break: break-all;
  margin: 0;
}

.static-text {
  display: flex;
  align-items: flex-start;
}

.flat-button {
  margin-left: 8px;
}
