:host {
  display: block;
  height: 100%;
}

.upload {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__tip {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 16px;
  }
}

.drop {
  min-height: 100%;
}

.file-over {
  background-color: rgba(0, 0, 0, 0.35);
}
