<div class="title title_main">{{ label }} {{ hasBody ? '(' + (bodySize | size) + ')' : '' }}</div>

@if (headers?.length) {
    <app-expansion-panel showArrow>
        <div class="title">Headers</div>
        <ng-container *appExpansionPanelContent>
            @for (header of headers | sortByKey; track $index) {
                <div class="headers">
                    <span>{{ header.name }}: {{ header.value }}</span>
                </div>
            }
        </ng-container>
    </app-expansion-panel>
}

@if (queryData?.length) {
    <app-expansion-panel showArrow initialOpened>
        <div class="title">Query string</div>
        <ng-container *appExpansionPanelContent>
            @for (query of queryData | sortByKey; track $index) {
                <div class="query">
                    <span>{{ query.name }}: {{ query.value }}</span>
                </div>
            }
        </ng-container>
    </app-expansion-panel>
}

@if (postData) {
    <app-expansion-panel showArrow initialOpened>
        <div class="title">POST Data</div>
        <ng-container *appExpansionPanelContent>
            <app-har-content [content]="postData"></app-har-content>
        </ng-container>
    </app-expansion-panel>
}

@if (responseData) {
    <app-expansion-panel showArrow initialOpened>
        <div class="title">Response Data</div>
        <ng-container *appExpansionPanelContent>
            <app-har-content [content]="responseData"></app-har-content>
        </ng-container>
    </app-expansion-panel>
}
