<div class="filters">
    <div class="filters__column">
        <label class="checkbox">
            <input type="checkbox" [formControl]="form.controls.successful" />
            <span>Successful</span>
        </label>
        <label class="checkbox">
            <input type="checkbox" [formControl]="form.controls.errors" />
            <span>Errors</span>
        </label>
    </div>
    <div class="filters__column">
        <label class="textbox">
            <input type="text" placeholder="Url" [formControl]="form.controls.url" />
        </label>
    </div>
</div>

@for (entry of entries(); track entry.id) {
    <app-har-entry [entry]="entry"></app-har-entry>
}
