html,
body {
  height: 100%;
}

body {
  font-family: 'JetBrains Mono', Consolas, monospace;
  margin: 0;
}

.checkbox {
  display: flex;
  padding: 8px;
  align-items: center;

  input[type='checkbox'] {
    margin-right: 8px;
    width: 16px;
    height: 16px;
  }
}

.textbox {
  display: flex;
  flex-direction: column;
  padding: 8px;

  input[type='text'] {
    padding: 4px;
  }
}
